@import url(./__item/pagination__item.css);
@import url(./__btn/pagination__btn.css);

.pagination {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 10px;
    justify-content: center;
}
