.search__list {
    margin: 0;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search__item {
    cursor: pointer;
    transition: 1s;
}
.search__item:hover {
    opacity: 0.6;
}
