.character__attribute {
    margin: 0;
    padding: 0;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.5px;
}
.character__attribute:nth-child(1) {
    font-weight: 600;
    text-decoration: underline;
}
