.character__name {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: -0.5px;
    color: #e5e51d;
}
